
services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: elevate
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    image: marijahmed/elevate-backend:dev
    container_name: elevate_backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - postgres


volumes:
  postgres_data:
